{% extends 'layouts/detail.html' %}

{% load static %}

{% block content %}
{% include 'a_posts/post.html' %}

{% if user.is_authenticated %}
    <div class="card !pb-0 -mt-3">
        <form class="flex items-center p-4" autocomplete="off"
              hx-post="{% url 'send-comment' post.id %}"
              hx-target="#tab-contents"
              hx-swap="afterbegin"
              _="on htmx:afterRequest reset() me">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Add comment ..." maxlength="150">
            <button @click="open = false" class="block ml-2" type="submit">Submit</button>
        </form>
    </div>
{% endif %}

<div class="mb-20">
    {% if post.comments.count %}
    <div id="tabs" class="ml-4 flex gap-1 mb-4"
     hx-target="#tab-contents"
     hx-swap="innerHTML"
     _="on htmx:afterOnLoad remove .selected from .tab then add .selected to event.target">
        <a hx-get="{% url 'post-detail' post.id %}"
           class="tab selected px-4 py-2 rounded hover:bg-gray-100">
            Newest First
        </a>
        <a hx-get="{% url 'post-detail' post.id %}?top=comments"
           class="tab px-4 py-2 rounded hover:bg-gray-100">
            Top Comments
        </a>
    </div>

    <div id="tab-contents">
        {% for comment in comments %}
            {% include 'a_posts/comment.html' %}
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock content %}